
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&family=Roboto+Mono:wght@200&family=Roboto:wght@100;300&family=Sofia+Sans:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{   
background: url(bg.jpg) no-repeat center center fixed;
background-size: cover;
}
.container{

    /* border: 12px solid red; */
     position: absolute;
     top: 57%;
     left: 45%;

} 
.container h1{
    font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Sofia Sans', sans-serif;
    /* width: 50%; */
    display: inline-block;
    font-size: 30px;
    border-bottom: 5px solid purple;
     margin-bottom: 15px;
     /* padding:0 15px; */
     color: white;
}
.box{
    /* border: 2px solid purple; */
    width: 100%;
    border-bottom: 2px solid purple;
}
.box input{

    background: none;

    width: 80%;
    font-size: 20px;

    border: none;
    outline: none;
    color: white;
}
.box i{
    color:white;
    width: 25px;
    margin: 22px 0px;

    float: none;
    text-align: center;
   
}
.btn{
    color: white;
    cursor: pointer;
    outline: none;
    /* width:35%; */
    margin: 15px 0;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid purple;
     font: size 18px;
     background: none;
     font-weight: bold;

}
.btn:hover{
    color:rgb(82, 47, 255);
  background: white;
 opacity: 0.5;
}
